.el__header {
    .el-header {
        padding: 0 !important;
    }
    .el-aside {
        padding: 0 0 0 15px !important;
    }
    .el-main {
        padding: 0 0 0 90px !important;
        border-radius: 5px;
    }
}

.el__footer {
    .el-footer {
        padding: 0 !important;
    }
}

.el__card__header {
    .el-card__header {
        padding: 0 !important;
    }
}